// Primary colors
$primary-color-1 : hsl(237, 18%, 59%);
$primary-color-2 : hsl(345, 95%, 68%);

// Neutral colors 
$neutral-color-1 : hsl(0, 0%, 100%);
$neutral-color-2 : hsl(236, 21%, 26%);
$neutral-color-3 : hsl(235, 16%, 14%);
$neutral-color-4 : hsl(234, 17%, 12%);

// flip clock 
$halfHeight : 0.80em;
$borderRadius : 0.1em;

